# App Konfiguration
APP_HOST_PORT=8080
APP_COMPANY__NAME="Musterfirma GmbH"
APP_COMPANY__ADDRESS="Musterstraße 123 &bull; 12345 Musterstadt"
APP_COMPANY__LOGO_FILENAME="logo.png"   # Dateiname des Logos im static/-Ordner (beliebiger Name, z.B. "mein-firmenlogo.svg")
APP_COLORS__PRIMARY="#0056b3"
APP_COLORS__TEXT_DARK="#32373c"
APP_COLORS__TEXT_LIGHT="#6d6d6d"
APP_COLORS__BG_LIGHT="#fdfdfd"

# SMB Konfiguration
APP_SMB__ENABLED=true
APP_SMB__SERVER=smb-server
APP_SMB__SHARE=pdfs
APP_SMB__FOLDER=
APP_SMB__USERNAME=testuser
APP_SMB__PASSWORD=testpass